---
// Import the necessary dependencies.
import ContactIconBlock from "@components/ui/blocks/ContactIconBlock.astro";

// Define the variables that will be used in this component
const title: string = "Contact us";
const subTitle: string =
  "Have questions or want to discuss a project? Find us via email or our social media.";
const formTitle: string = "Fill in the form below";
const formSubTitle: string = "We'll get back to you in 1-2 business days.";
---

<!-- Contact Us -->
<section
  class="mx-auto mb-28 mt-10 max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14"
>
  <div class="mx-auto max-w-2xl lg:max-w-5xl">
    <div class="text-center">
      <h1
        class="text-balance text-2xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 md:text-4xl md:leading-tight"
      >
        {title}
      </h1>
      <p class="mt-1 text-pretty text-neutral-600 dark:text-neutral-400">
        {subTitle}
      </p>
    </div>

    <div class="mt-12 grid items-center gap-6 lg:grid-cols-2 lg:gap-16">
      <!--ContactIconBlocks are used to display different methods of contacting, including visiting office, email, browsing knowledgebase, and FAQ.-->
      <ContactIconBlock
        heading="Facebook"
        content="Look ar our posts or write us via Facebook Messenger."
        isLinkVisible={true}
        linkTitle="@mla.labs"
        linkURL="https://www.facebook.com/MLA.labs"
        isArrowVisible={true}
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-facebook"
          ><path
            d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"
          ></path></svg
        >
      </ContactIconBlock>

      <ContactIconBlock
        heading="Instagram"
        content="Maybe you prefer this more modern app?"
        isLinkVisible={true}
        linkTitle="@mla.labs"
        linkURL="https://www.instagram.com/mla.labs/"
        isArrowVisible={true}
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class=""
          ><rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect><path
            d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line
            x1="17.5"
            x2="17.51"
            y1="6.5"
            y2="6.5"></line></svg
        >
      </ContactIconBlock>

      <ContactIconBlock
        heading="YouTube"
        content="Watch our videos and leave us a comment!"
        isLinkVisible={true}
        linkTitle="@MLALabs"
        linkURL="https://www.youtube.com/@MLALabs"
        isArrowVisible={true}
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class=""
          ><path
            d="M2.5 17a24.12 24.12 0 0 1 0-10 2 2 0 0 1 1.4-1.4 49.56 49.56 0 0 1 16.2 0A2 2 0 0 1 21.5 7a24.12 24.12 0 0 1 0 10 2 2 0 0 1-1.4 1.4 49.55 49.55 0 0 1-16.2 0A2 2 0 0 1 2.5 17"
          ></path><path d="m10 15 5-3-5-3z"></path></svg
        >
      </ContactIconBlock>

      <ContactIconBlock
        heading="Contact us by email"
        content="Hey! it's tried and true technology, we accept it"
        isLinkVisible={true}
        linkTitle="mla.synths@gmail.com"
        linkURL="mailtomla.synths@gmail.com"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class=""
          ><rect width="20" height="16" x="2" y="4" rx="2"></rect><path
            d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path></svg
        >
      </ContactIconBlock>
    </div>
  </div>
</section>
