---
// Import necessary modules and utilities
import { Image } from "astro:assets";
import Icon from "@components/ui/icons/Icon.astro";
import type { CollectionEntry } from "astro:content";

const { product } = Astro.props;

interface Props {
  product: CollectionEntry<"products">;
}

// Define classes to be used with the Image component
const imageClass =
  "absolute inset-0 h-full w-full object-cover object-center transition duration-[600ms] ease-[cubic-bezier(0.45,0,0.55,1)] group-hover:scale-110";
---

<!-- A clickable card that leads to the details of the product-->
<a
  href={`/products/${product.slug.replace(/^en\//, "")}/`}
  data-astro-prefetch
  class="group relative block h-48 items-end overflow-hidden rounded-xl shadow-lg outline-none ring-zinc-500 focus-visible:ring dark:ring-zinc-200 dark:focus:outline-none md:h-80"
>
  <!-- The product's main image -->
  <Image
    src={product.data.imgMain}
    alt={product.data.imgMainAlt}
    draggable={"false"}
    class={imageClass}
    format={"avif"}
  />
  <!-- An overlay gradient that sits on top of the product image-->
  <div
    class="pointer-events-none absolute inset-0 bg-gradient-to-b from-neutral-800 via-transparent to-transparent opacity-50"
  >
  </div>
  <!-- The product's subtitle and the anchor SVG icon-->
  <div class="absolute h-full p-5">
    <span
      class="mb-3 inline-block text-sm font-bold text-neutral-50 transition duration-[600ms] ease-[cubic-bezier(0.45,0,0.55,1)] md:text-lg"
      >{product.data.title} <Icon name="openInNew" />
    </span>
    <div class="flex flex-wrap gap-4">
      {
        product.data.tags.map((tag: any) => {
          return (
            <div class="text-nowrap rounded-full bg-yellow-500 px-2 text-sm font-bold text-gray-900">
              {tag}
            </div>
          );
        })
      }
    </div>
  </div>
</a>
